header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: #ffffff;

    padding: 10px;

}

.logo, .login {

    width: 25%;

    text-align: center;

    color: #3900e4;

}

nav ul {

    display: flex;

    list-style: none;

    margin: 0;

    padding: 0;

    width: 50%;

    justify-content: space-between;

 

}

nav li {

    margin: 25px;

}

nav a {

    text-decoration: none;

    color: #3900e4;

}