/* Standaardstijlen voor desktop */
.mobile-menu {
    display: none; /* Verberg het blokje standaard */
    width: 20px;
    height: 20px;
    background-color: #333;
  }
  
  /* Media query voor mobiele apparaten */
  @media (max-width: 768px) {
    .mobile-menu {
      display: block; /* Maak het blokje zichtbaar voor mobiele apparaten */
    }
  }
  